/*Style indexCompany*/
#nav{
  
	border-color: DodgerBlue; 
	border-style: solid;
	border-width: 2px;
}
#foto{
	background-image: url("images/background.jpeg");
	background-repeat:no-repeat; 
	background-size: auto;
	background-position: center;
	width: 1270px;
	height: 800px;
	display: block;
}
#fon{
	text-align: center;
	color: white;
}

#fondo{
	font-family: Roboto, sans-serif;
	color: white;
	text-align: center;
}
h1{
	font-family: Roboto, sans-serif;
}

#Portafolio{
	background-color:RGB(240, 240, 240); 
	border: 2px solid red;
}

#Services{
	background-color:RGB(240, 240, 240); 
	border: 2px solid blue
}

#Contact{
	background-color:RGB(240, 240, 240); 
	border: 2px solid violet
}